<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Custom Style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Fridge Magnet</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="intro col-12">
                <image src="icons/paper.png" id="note-logo"></image>
                <h1>
                    Fridge Magnet
                </h1>
                <div>
                    <div class="border1"></div>
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                404
                            </h1>
                            <h3>
                                Page Not Found!
                            </h3>
                        </div>
                    </div>
                    <footer>
                        A Project by <a href="https://www.github.com/roeintheglasses" title="Hrishi jangir">Hrishi
                            Jangir</a>
                    </footer>
                </div>
</body>

</html>